<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.scu.iot.datastatistics.mapper.UserBasicInfoMapper" >
    <resultMap id="UserBasicInfoMap" type="cn.scu.iot.datastatistics.entity.UserBasicInfo">
        <id column="uid" property="uid" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="passwd" property="passwd" jdbcType="VARCHAR"/>
        <result column="unionid" property="unionId" jdbcType="VARCHAR"/>
        <result column="third_id" property="thirdId" jdbcType="VARCHAR"/>
        <result column="user_type" property="userType" typeHandler="cn.scu.iot.datastatistics.utils.UserTypeHandler"/>
        <result column="deposit" property="deposit" jdbcType="DOUBLE"/>
        <result column="max_apply_devs" property="maxApplyDevs" jdbcType="BIGINT"/>
        <result column="data_max_num_per_dev" property="dataMaxNumPerDev" jdbcType="BIGINT"/>
        <result column="text_max_devs" property="textMaxDevs" jdbcType="BIGINT"/>
        <result column="have_max_devs" property="haveMaxDevs" jdbcType="BIGINT"/>
        <result column="his_data_max_num_per_dev" property="hisDataMaxNumPerDev" jdbcType="BIGINT"/>
        <result column="api_max_num" property="apiMaxNum" jdbcType="BIGINT"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="state" property="state" javaType="cn.scu.iot.datastatistics.enums.UserStateEnum"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="company" property="company" jdbcType="VARCHAR"/>
        <result column="r_time" property="rTime" jdbcType="BIGINT"/>
        <result column="third_platform_id" property="thridPlatformId" jdbcType="BIGINT"/>
        <result column="alert_type" property="alertType" javaType="cn.scu.iot.datastatistics.enums.UserAlertType"/>
        <result column="is_alert" property="isAlert" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="info" property="info" jdbcType="VARCHAR"/>
        <!--<result column="user_sex" property="userSex" javaType="com.neo.enums.UserSexEnum"/>-->
    </resultMap>

    <sql id="Base_Column_List" >
        `uid`,`name`, `nickname`, `passwd`, `unionid`, `third_id`, `user_type`,
        `deposit`,`max_apply_devs`,`data_max_num_per_dev`,`text_max_devs`,`have_max_devs`,`his_data_max_num_per_dev`,
        `api_max_num`,`img_url`,`state`,`phone`,`company`,`r_time`,
        `third_platform_id`,`alert_type`,`is_alert`,`type`,`info`
    </sql>

    <select id="getAll" resultMap="UserBasicInfoMap"  >
       SELECT
       <include refid="Base_Column_List" />
	   FROM `user_basic_info`
    </select>

    <select id="getOne" parameterType="java.lang.Long" resultMap="UserBasicInfoMap" >
        SELECT
       <include refid="Base_Column_List" />
	   FROM `user_basic_info`
	   WHERE `uid` = #{uid}
    </select>


</mapper>